name: Flutter Build (APK + Web)

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.24.0'
          channel: 'stable'

      - name: Flutter Pub Get
        run: flutter pub get

      - name: Enable Web
        run: flutter config --enable-web

      - name: Build APK
        run: flutter build apk --release

      - name: Build Web
        run: flutter build web --release

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: free_kick_apk_release
          path: build/app/outputs/flutter-apk/app-release.apk

      - name: Upload Web Artifact
        uses: actions/upload-artifact@v4
        with:
          name: free_kick_web_release
          path: build/web
